.app {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
    background-color: #92caff;
}

.input-area {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#order-input {
    padding: 10px;
    font-size: 18px;
    width: 150px;
}

.ready-orders, .preparing-orders {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ready-orders {
    border-right: 2px solid #000000;
}

.order-title {
    font-size: 4vw;
    margin-bottom: 10px;
    font-weight: bold;
}

.order.big {
    font-size: 22vw;
    font-weight: bold;
    margin: 0px 0;
}

.order.small {
    font-size: 11vw;
    margin: 0px 0;
}

.preparing-orders .order {
    font-size: 10vw;
    margin: 0px;
}